* {
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
    overflow-y: scroll;
    background: #f5f5f5;
}

html,
body {
    margin: 0;
}

h1, h2, h3, nav a {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4 {
    margin-top: 1.5em;
    margin-bottom: 0.2em;
}

h1 + p, h2 + p, h3 + p {
    margin-top: 0;
}

pre + p {
    margin-top: 2em;
}

p {
    font-family: Verdana, Arial, sans-serif;
    line-height: 24px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #009ebe;
}

li {
    font-family: arial, sans-serif;
    line-height: 20px;
    margin: 10px 0;
}

p,
li {
    font-size: 16px;
}

dt {
    font-family: monospace;
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
}

dd {
    margin: 0;
    font-size: 13px;
}

.width-limit {
    padding: 0 20px;
    max-width: 900px;
    margin: 0 auto;
}

.top-header nav,
.top-header ul {
    height: 90px;
}

#logo {
    font-size: 20px;
    font-style: italic;
}

#logo img {
    height: 60px;
    margin: 15px 10px 15px 0;
    vertical-align: middle;
}

.top-header {
    background: #fff;
}

.top-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.top-header li {
    display: inline-block;
    margin: 0 10px;
}

.top-header ul li a {
    display: inline-block;
    padding: 50px 5px 10px;
    font-size: 18px;
}

.banner {
    background: #1eb1cc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 0 25px;
    height: 100px;
    line-height: 100px;
}

.banner h1 {
    font-size: 40px;
    font-weight: 300;
}

p code,
li code {
    font-size: 85%;
    font-family: monospace;
    background: rgba(30, 177, 204, 0.1);
    border: 1px solid rgba(26, 142, 167, 0.49);
    padding: 1px 3px;
    border-radius: 3px;
}

footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

.lols {
    text-align: center;
    font-size: 9px;
    margin: 0;
    color: #777;
}
