html {
    background: url("/img/pattern.png") fixed;
    color: #43485a;
    font-family: arial, sans-serif;
}

h1, h2, h3, nav a { font-family: "Lato", sans-serif; }

html{overflow-y: scroll;}

html, body {
    margin: 0
}

* {
    font-weight: 300;
    box-sizing: border-box;
}

p {
    line-height: 24px;
    text-align: justify;
}

li {
    margin: 5px 0;
}

p, li { font-size: 15px; }

h1.banner {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    /* margin: -20px -30px 0; normal */
    margin: -20px -30px 0 -100px;
    border-bottom-left-radius: 100px;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 15px;
}

h2 {
    margin-bottom: -10px;
}

body {
    max-width: 876px;
    margin: 20px auto 0;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

main {
    padding: 20px;
}

footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #2d425a;
    display: inline-block;
    width: 19%;
    width: calc(25% - 50px);
    padding: 25px 10px 5px;
    border-bottom: 20px solid white;
    margin: 0 25px;
    font-size: 25px;
}

a.active:nth-child(1) { border-color: #f45a52; }
a.active:nth-child(2) { border-color: #10a8c6; }
a.active:nth-child(3) { border-color: #e4599d; }
a.active:nth-child(4) { border-color: #4dcd81; }

#index h1       { background: #f45a52; }
#download h1    { background: #10a8c6; }
#examples h1    { background: #e4599d; }
#news h1        { background: #4dcd81; }

